@model MyLibrary.Models.Genre
@{
    ViewData["Title"] = "Delete";
}
<h1>מחיקה</h1>
<h4>שים לב, לא ניתן למחוק קטגוריה אם משוייכים אליה ספרים.</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">חזרה לרשימת קטגוריות</a>
    </form>
</div>